h1 {
  color: red;
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2 {
  color: azure;
}

.header {
  background-color: aqua;
}

#pageLinks {
  text-align: right;
}