h1 {
  color: red;
  font-size: 3em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h2 {
  color: navy;
}

.header {
  background-color: aqua;
  text-align: center;
}

#pageLinks {
  text-align: right;
}

.top-nav {
  overflow: hidden;
  background-color:navy;
}

.top-nav a {
  float: left;
  display:block;
  color:aquamarine;
  text-align: center;
  padding: 2em 10em;
  text-decoration: none;
}